:host {
  .container {
    display: flex;
    flex-direction: column;
    padding: 10px;
    border: 1px solid #c1c1c1;
    border-radius: 6px;
    gap: 20px;

    .post-header {
      display: flex;
      justify-content: space-between;

      .title {
        display: flex;
        font-weight: 600;
      }

      .last-modified-date {
        color: #000;
      }
    }

    .description {
      display: flex;
    }
  }
}